<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style_chat.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class = "dropdown">
      <button class = "settings"></button>
      <div class = "content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <button id = "logout"></button>
      </div>
    </div>
  </nav>
  <div id = "main">
    <div id = "active">
    </div>
    <div id = "chatarea">
      <div id = "texts"></div>
      <textarea id = "msgarea"></textarea>
      <button id = "enter">Send</button>
    </div>
  </div>
  <script src="assets/chat.js"></script>
</body>
</html>
