<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style_chat.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>
<body>
  <nav>
    <div class = "dropdown">
      <button class = "settings"></button>
      <div class = "content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <button id = "logout"></button>
      </div>
    </div>
  </nav>
  <div id = "main">
    <div id = "active">
      <h2>Active Users</h2>
      <ul id = "active-users">
      </ul>
    </div>
    <div id = "chatarea">
      <div id = 'header'></div>
      <div id = "texts"></div>
      <input type= 'text' id = "msgarea"></textarea>
      <button id = "enter" type="button">Send</button>
    </div>
  </div>
  <script id = 'jsfile' type="text/javascript" userId = '<%= userId %>' userName = '<%= userName %>' src="assets/chat.js"></script>
</body>
</html>
