<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style_room.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class = "dropdown">
      <button class = "settings"></button>
      <div class = "content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <button id = "logout"></button>
      </div>
    </div>
  </nav>
  <div>
    <section class = 'conv'>
      <h2>Radiohead</h2>
      <p class = 'date'>July 1, 2017</p>
      <p class = 'textFull'>Radiohead are an English rock band from Abingdon, Oxfordshire, formed in 1985. The band consists of Thom Yorke (lead vocals, guitar, piano, keyboards), Jonny Greenwood (lead guitar, keyboards, other instruments), Ed O'Brien (guitar, backing vocals), Colin Greenwood (bass), and Phil Selway (drums, percussion, backing vocals). They have worked with producer Nigel Godrich and cover artist Stanley Donwood since 1994.</p>
      <img src = 'assets/radiohead.jpg'>
    </section>
    <div class = "comments">
      <div class = 'first'>
        <h2>Comments</h2>
        <img src="/assets/1497826116_ninja-simple.png"></img>
        <input type = "text">
        <hr>
      </div>
      <div class = 'com'>
        <section>
          <img class = 'compic' src="/assets/1497826116_ninja-simple.png"></img>
          <p class = 'comtitle'>Mariam B</p>
          <div class = "appear">
            <a href="#">Link 1</a>
          </div>
          <p class = 'comdate'>1 July, 2017</p>
          <p class = 'comtext'>After signing to EMI in 1991, Radiohead released their debut single "Creep" in 1992.</p>
        </section>
        <section>
          <img class = 'compic' src="/assets/1497826116_ninja-simple.png"></img>
          <p class = 'comtitle'>Mariam B</p>
          <p class = 'comdate'>1 July, 2017</p>
          <p class = 'comtext'>After signing to EMI in 1991, Radiohead released their debut single "Creep" in 1992.</p>
        </section>
        <section>
          <img class = 'compic' src="/assets/1497826116_ninja-simple.png"></img>
          <p class = 'comtitle'>Mariam B</p>
          <p class = 'comdate'>1 July, 2017</p>
          <p class = 'comtext'>After signing to EMI in 1991, Radiohead released their debut single "Creep" in 1992.</p>
        </section>
        <section>
          <img class = 'compic' src="/assets/1497826116_ninja-simple.png"></img>
          <p class = 'comtitle'>Mariam B</p>
          <p class = 'comdate'>1 July, 2017</p>
          <p class = 'comtext'>After signing to EMI in 1991, Radiohead released their debut single "Creep" in 1992.</p>
        </section>
        <button class = 'show'>Show More</button>
      </div>
    </div>
  </div>
  <div class = 'footer'>
  </div>
  <script src="assets/roomsview.js"></script>
</body>
</html>
