<!doctype html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <div class = "back">
    <div class = "menu">
      <h1>Log In</h1>
      <form>
        <input id = "name" type="text" placeholder="Username" required>
        <input id = "password" type="password" placeholder="Password" required>
        <button id = 'enter' type='button'>Enter</button>
      </form>
      <a href='sign'>Sign Up</a>
    </div>
  </div>
  <script src="assets/login.js"></script>
</body>
</html>
