<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
  <div id="container">
    <div id = "back"></div>
    <div>
      <label id = "join"><b>Join As</b></label>
      <input id = "name" type="text" placeholder="Enter Username" required>
      <button id = "enter" type="button" onclick="login()">Log In</button>
    </div>
  </div>
  <script language="javascript" type="text/javascript">
  document.getElementById("name").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
      document.getElementById("enter").click();
    }
  });
  function login()
  {
    sessionStorage.setItem("username", document.getElementById('name').value);
    window.open("rooms.html", "_self",false);
  }
  </script>

</body>
</html>
