<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
  <div id = "menu">
    <h1>Log In</h1>
    <input id = "name" type="text" placeholder="Enter Username" required>
    <input id = "password" type="text" placeholder="Enter Password" required>
    <button type="button" onclick="login()">Enter</button>
    <a href="">Sign Up</a>
  </div>
  <script language="javascript" type="text/javascript">
  document.getElementById("name").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
      document.getElementById("enter").click();
    }
  });
  function login()
  {
    sessionStorage.setItem("username", document.getElementById('name').value);
    window.open("rooms.html", "_self",false);
  }
  </script>

</body>
</html>
