<!doctype html>
<html>
<head>
  <title>Chat Inn</title>
  <link rel="stylesheet" type="text/css" href="/assets/style_room.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <div id = "header">
    <h1 id = "username">dfdffd</h1>
    <h1 id = "logout">Log Out</h1>
  </div>
  <div id = "title">
    <h1 id = "title_label">Rooms</h1>
  </div>
  <div id = "bottom_div">
    <ul style="list-style-type:none" id = "room_list">
      <li id = "list">room 1</li>
      <hr>
      <li id = "list">room 2</li>
      <hr>
      <li id = "list">room 3</li>
      <hr>
      <li id = "list">room 4</li>
      <hr>
      <li id = "list">room 5</li>
      <hr>
      <li id = "list">room 6</li>
      <hr>
      <li id = "list">room 7</li>
      <hr>
      <li id = "list">room 8</li>
    </ul>
  </div>
  <div id = "add_room">
    <input id = "room_name" type="text" required>
    <button id = "create_room" type="button" >Create</button>
  </div>
  <script src="assets/roomsview.js"></script>
</body>
</html>
